@page
@model BioModel
@{
    ViewData["Title"] = "Bio";
}
<main>
<div class="container">
    <div class="bio-section">
        <h1 class="display-4 text-center">About Me</h1>
        <div class="mt-5">
            <p>Hi there! Welcome to a little snapshot of my world. Beyond my professional life as a software engineer, I’m a person of diverse interests and a story to tell.</p>

            <p>My journey is deeply rooted in my faith as a member of the Church of Jesus Christ of Latter-day Saints. It’s a core part of my identity that shapes my values and outlook on life. Balancing faith and a fast-paced technological world has always been a fascinating journey for me.</p>

            <p>Music runs through my veins, with the deep grooves of a bass guitar as my medium of expression. Whether I'm laying down the foundation in a jazz combo or exploring the nuances of other genres, my bass is my constant companion. I'm also big on progressive metal. My passion for metal music isn't just about the intense energy and powerful themes; it's about the complexity and depth that this genre offers. It's a musical journey that never ceases to inspire me.</p>

            <p>When I'm not programming or strumming away, you might find me diving into the world of computer games or exploring virtual realities. The blend of technology and creativity found in these worlds fascinates me. It's amazing how immersive experiences can transport us to entirely different realms, providing both an escape and a different perspective on creativity and problem-solving.</p>

            <p>And let's not forget the thrill of skiing. There's something incredibly freeing about speeding down a snowy slope, where every turn is a blend of precision and exhilaration. It's a perfect balance of enjoying the serene beauty of nature while engaging in a heart-pumping activity.</p>

            <p>So, that’s a glimpse into who I am. From the tranquility of a church pew to the adrenaline rush of a ski slope, and from the immersive worlds of VR to the soulful strains of a bass guitar, these are the things that energize me and shape my life. Thanks for stopping by, and I hope to share more of this journey with you.</p>
        </div>
    </div>
</div>
</main>
