@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome to My Portfolio</h1>
        <p>This is where I showcase my projects, skills, and experiences. Dive in to see what I've been working on!</p>
    </div>

    <!-- Introduction Section -->
    <section class="mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="images\122496709.jpg" alt="picture of David Burnett" class="img-fluid rounded-circle" />
            </div>
            <div class="col-md-6">
                <h2>About Me</h2>
                <p>Hello! I'm David Burnett, a passionate and highly adaptable software engineer! With a keen interest in web technologies and a dedication to solving complex problems, I've contributed to multiple projects that you can explore here. My journey in the tech world continues to be fueled by my eagerness to learn and adapt to new challenges.</p>
            </div>
        </div>
    </section>

    <!-- Contact Information -->
    <section class="my-5">
        <h2>Contact Information</h2>
        <p>If you'd like to get in touch with me, feel free to reach out via any of the following platforms:</p>
        <ul>
            <li>Email: generaldean2142@gmail.com</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/david-burnett-01943b301/">https://www.linkedin.com/in/david-burnett-01943b301/</a></li>
            <li>GitHub: <a href="https://github.com/Dburnett2142">https://github.com/Dburnett2142</a></li>
        </ul>
    </section>


</div>