@page
@model WebApplication1.Pages.Projects.CrecendoModel
@{
}
<div class="container">
    <div class="project-section">
        <h1 class="text-center">Crescendo in the Abyss</h1>

        <!-- Project Overview -->
        <div class="mt-5">
            <img src="~/images/CiTAcover.jpg" alt="Crescendo in the Abyss Cover" class="img-fluid">
            <p class="mt-3">As a passionate developer and project co-lead, I had the exciting opportunity to contribute to a computer game named <strong>Crescendo in the Abyss</strong>. This project was a collaborative endeavor that allowed me to not only refine my development skills but also to venture into the creative aspects of game design and asset creation.</p>

            <p><strong>Crescendo in the Abyss</strong> is a 2D platformer which draws inspiration from the beloved classic, Icy Tower. Players control a protagonist who must navigate an ever-challenging ascent, jumping from platform to platform. One aspect of the game which I worked on personally was desiging and implementing escalating difficulty elements, ensuring the game stays engaging.</p>

            <p>One of the hallmarks of our project was our commitment to originality. Every piece of content — from the engaging soundtracks and sound effects to the visually captivating art assets — was crafted by our team. I personally contributed to the game's immersive audio experience, collaborating with my brother-in-law, Daniel Clements, to compose all the music and audio. Meanwhile, our talented artist developed all the art assets in-house, ensuring that <strong>Crescendo in the Abyss</strong> offered a unique aesthetic and auditory experience to every player.</p>

            <div class="links mt-4">
                <a href="placeholder-link-for-video" class="btn btn-primary">Watch the Game Trailer</a>
                <a href="placeholder-link-for-game" class="btn btn-success">Play Crescendo in the Abyss</a>
            </div>
        </div>
    </div>
</div>